<!DOCTYPE html>

<html>

<!--

	'about.html' 

	Copyright 2022, Joshua Loysch, All rights reserved.

	My personal info / etc to share.

-->

	<head>


		{% extends "base.html" %}

	
		<!-- html -->


	</head>

{% block content %}
	<body>

		
		<div class="aboutMeContainer"> 

			<div class="aboutMeImage">
			<img src="{{ url_for('static',filename='images/jloysch.jpg') }}"></img>
			</div>
			<div class="aboutMeBlurbs">
			<h1>Hey, I'm Joshua.</h1>
			<p>I am a <i><b>full stack developer</b></i> bringing visions to life with the utmost emphasis on user experience. I enjoy creating solutions that make an impact. I am currently attending the University of Rochester to earn my B.S. in Computer Science. While in school, I'm taking the time to work on personal projects to demonstrate my abilities.</p>
			</div>

   
		</div>


		<div class="divPadA"></div>

		<div class="skillsAndLinksContainer"> 


	   		

			<div class="tagCloudContainer">

				<div class="tagCloudContent"></div>

				<script src="{{ url_for('static', filename='scripts/TagCloud.min.js') }}"> </script>

				<script>

									const myTags = ['Adobe XD',
					    'JavaScript', 'CSS', 'HTML',
					    'C', 'C++', 'Python', 'Java', 'git',
					    'django', 'Jinja2', 'Flask', 'XCode',
					   	'MySQL', 'jQuery', 'Android Studio', 'Swift', 'XML'
					];

					var tagCloud = TagCloud('.tagCloudContent', myTags,{

					  // radius in px
					  radius: 250,

					  // animation speed
					  // slow, normal, fast
					  maxSpeed: 'fast',
					  initSpeed: 'fast',

					  // 0 = top
					  // 90 = left
					  // 135 = right-bottom
					  direction: 135,
					  
					  // interact with cursor move on mouse out
					  keep: true
					  
					});

					//To change the color of text randomly
					//var colors = ['#34A853', '#FBBC05', '#4285F4', '#7FBC00', 'FFBA01', '01A6F0'];
					//var random_color = colors[Math.floor(Math.random() * colors.length)];
					//document.querySelector('.tagCloudContent').style.color = random_color;

			</script>

		</div>

		<div class="flip-box-container">

			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
					  <h2>My Creed</h2>
					</div>
					<div class="flip-box-back">
					  <h2>There is great beauty in simplicity for refinement itself is an art. Delivering a great UX through a polished back-end and clean, intuitive UI is akin to making the user feel at home. This is the standard I strive for.</h2>
					</div>
				</div>
			</div>

			<div class="flip-box">
				<div class="flip-box-inner">
					<div class="flip-box-front">
					  <h2>My Objective</h2>
					</div>
					<div class="flip-box-back">
					  <h2>To obtain a position as a software developer in an organization where technical skills and creative thinking are useful.</h2>
					</div>
				</div>
			</div>


			<div class="flip-box" onclick="location.href='{{ url_for('static', filename='resume.jpg') }}'">
				<div class="flip-box-inner" onclick="location.href='{{ url_for('static', filename='resume.jpg') }}">
					<div class="flip-box-front"  onclick="location.href='{{ url_for('static', filename='resume.jpg') }}">
					  <h2>My Resume</h2>
					</div>
					<div class="flip-box-back", style="background-color:#3377cc;color:white;">
					  <h2>Click Me!</h2>
		
					</div>
				</div>
			</div>



		</div>



	

	</div>

	</body>

		{% endblock %}

</html>