<!DOCTYPE html>

<html>

	

	<head>

		<link
      rel="preload"
      as="style"
      href='static/styles/bgvid.mp4'>
		
		<style type="text/css">
    .hidden {display:none;}
  </style>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
  <script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {    // EDIT: From Adam Zerner's comment below: Rather use load: $(window).on('load', function () {...});
      $('html').removeClass('hidden');  // EDIT: Can also use $('html').removeClass('hidden'); 
     });  
   </script>

		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

		{% include 'navigation.html' %}

	</head>

	<body>
		
		<video autoplay muted loop id="video-background">
		  <source src="static/styles/bgvid.mp4" type="video/mp4">
		</video>

		<div class="baseNavigationDiv"></div>

		{% block index %}
		{% endblock %}

		{% block projectList %}
		{% endblock %}

		{% block contact %}
		{% endblock %}

		{% block about %}
		{% endblock %}
			
	</body>
		

</html>