<!DOCTYPE html>

<html>

<head>

    {% extends "base.html" %}

</head>

<div class= "divPadA"></div>
	
	{% block content %}

	<body ontouchstart="">
       
        <div class = "blogContainer">
            <div class ="articleText">
                <h1 class = "articleHead"> {{blogTitle}}</h1>
            
                {% for line in rawText %}

                    <p> {{line}} </p>

                {% endfor %}
        </div>
    </div>

    </body>

        {% endblock %}
        
</html>