<!DOCTYPE html>

<html>

<!--

	'about.html' 

	Copyright 2022, Joshua Loysch, All rights reserved.

	My personal info / etc to share.

-->

	<head>

		{% extends "base.html" %}

	</head>

		{% block content %}

	<body ontouchstart="">

	
		
		<!--

			Planning to just override styles inline verses making more classes in the styles, already getting bloated. Should modularize it via media query.. idk if the imports work without being finnicky though. Noticeable reduction? Maybe.. I mean like even if I can widdle it down 200kb or something it counts. *shrug*
		-->

		<script>
			function gotoLinkedin() {
				location.href='https://www.linkedin.com/in/jloysch'
			}

			function gotoGithub() {
				location.href='https://github.com/jloysch'
			}
		</script>

		<div class="contactContainer">
			<div class="contact-flip-box", onclick="gotoLinkedin()">
			  <div class="contact-flip-box-inner">
			    <div class="contact-flip-box-front", onclick="gotoLinkedin()">>
			      <h2>LinkedIn (Flip Me!) ▽</h2>
			    </div>
			    <div class="contact-flip-box-back", style="background-color:#0072b1;">
			      <h2>/in/jloysch/</h2>
			    </div>
			  </div>
			</div>
		</div>


				<div class="divPadA"></div>

		<div class="contactContainer">
			<div class="contact-flip-box">
			  <div class="contact-flip-box-inner">
			    <div class="contact-flip-box-front">
			      <h2>Phone ▽</h2>
			    </div>
			    <div class="contact-flip-box-back", style="background-color:#000000;">
			      <h2> (570)-256-1350 (M-F, 5-8 EST)</h2>
			    </div>
			  </div>
			</div>
		</div>


		<div class="divPadA"></div>

		<div class="contactContainer">
			<div class="contact-flip-box">
			  <div class="contact-flip-box-inner">
			    <div class="contact-flip-box-front">
			      <h2>E-mail ▽</h2>
			    </div>
			    <div class="contact-flip-box-back", style="background-color:#000000;">
			      <h2>joshualoysch (at) outlook (dot) com</h2>
			    </div>
			  </div>
			</div>
		</div>

		<div class="divPadA"></div>



		<div class="contactContainer">
			<div class="contact-flip-box", onclick="gotoGithub()">
			  <div class="contact-flip-box-inner">
			    <div class="contact-flip-box-front">
			      <h2>GitHub ▽</h2>
			    </div>
			    <div class="contact-flip-box-back", style="background-color:#000000;vertical-align: middle;">
			      <h2 onclick="gotoGithub()">/jloysch</h2>
			    </div>
			  </div>
			</div>
		</div>

		<div class="divPadA"></div>



	</body>
			{% endblock %}

</html>