<!DOCTYPE html>

<html>

<!--

	'index.html' 

	Copyright 2022, Joshua Loysch, All rights reserved.

	The 'home page' or main landing page for the site. Will include content from around the site to give the a user a nice single-page experience upon view.
	I'm sticking with static deployment of the website (free hosting via Github Pages) so there will be some caveats, but nothing that can't be worked around.

-->

	{% extends "base.html" %}

	<head>	

	</head>

	<body>
			{% block projectList %}
				{{ testHTML|safe }}
			{% endblock %}
	</body>

</html>