
<!DOCTYPE html>

<html>

<head>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

<div class="navbar">

    {% for item in navigation %}

        <span id=link> <a href="{{ url_for(item.lower()|string()) }}", id="navlink"> 

        	{% if (crumb.lower()|string() == item.lower()|string()) %}

        		 <b>> {{ item }} <</b>
        		
        	{% else %}

        		{{ item }}

        	{% endif %}

        </a>

    	</span>

    {% endfor %}

</div>

</head>

<body>

</body>

</html>