<!DOCTYPE html>

<html>

<!--

	'projectsModule.html' 

	Copyright 2022, Joshua Loysch, All rights reserved.

	The modular, headless version of 'projects.html' to be included for the single-page view on 'index.html'

-->

	<head>

	</head>

	{% block projectList %}

	<body>

		{% for project in availableProjects %}

			<div id="projectDisplayModule">

				<div class= "projectDisplayModuleHeader", id="projectDisplayModuleHeader"><a class= "projectDisplayModuleTitle"><b>{{project}}</b></a><a2 class="projectDisplayModuleDescription">{{descriptors[project]}}</a2></div>
				<div class= 
				{% if hideNav %}
					"projectListWireframeContentAlt"
				{% else %}
					"projectListWireframeContent"
				{% endif %},
				id= "projectMediaPoolContainer">{% for image in mediaPool[project] %}<img src="{{image}}"></img>{% endfor %}</div>

				<div class= "projectDisplayListTweenPadding"></div>
				
			</div>

		{% endfor %}

	</body>

	{% endblock %}

</html>