<!DOCTYPE html>

<html>

	<head>

		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

		{% include 'navigation.html' %}

	</head>

	<div class= "divPadA"></div>

	<body>

		{% for project in availableProjects %}

			<div class= "projectListWireframe"><b><a class= "projectListWireframeTitle">{{project}}</a></b> <a class="projectListWireframeDescription"> {{descriptors[project]}} </a></div>

			<div class= "projectListWireframeContent">
				{{mediaPool[project]}}
			</div>

			
			<div class= "projectWireframeTweenPadding"></div>

		{% endfor %}


	</body>

</html>