<!DOCTYPE html>

<html>

	<head>

		<style type="text/css">
    .hidden {display:none;}
  </style>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
  <script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {    // EDIT: From Adam Zerner's comment below: Rather use load: $(window).on('load', function () {...});
      $('html').removeClass('hidden');  // EDIT: Can also use $('html').removeClass('hidden'); 
     });  
   </script>


		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

	</head>

	<div class= "divPadA"></div>

	{% block projectList %}

	<body>

		{% for project in availableProjects %}
			<div id="somebigcontainer">
				<div class= "projectListWireframe", id="projectWireframeTitleBar"><b><a class= "projectListWireframeTitle">{{project}}</a></b><a2 class="projectListWireframeDescription">{{descriptors[project]}}</a2></div>
				<div class= 
				{% if hideNav %}
					"projectListWireframeContentAlt"
				{% else %}
					"projectListWireframeContent"
				{% endif %},
				id= "projectMediaPoolContainer">{% for image in mediaPool[project] %}<img src="{{image}}"></img>{% endfor %}</div>

				<div class= "projectWireframeTweenPadding"></div>
			</div>

		{% endfor %}

	</body>

	{% endblock %}

</html>