<!DOCTYPE html>

<html>

<!--

	'projects.html' 

	Copyright 2022, Joshua Loysch, All rights reserved.

	This page is meant for the actual static route /projects, this will generate project modules dependent upon static/projects/ and display them in a list.

-->
	
	<head>

		{% if not hideNav %}
			{% extends "base.html" %}
		{% endif %}

	</head>

	<div class= "divPadA"></div>

	{% block projectList %}

	<body>

		{% for project in availableProjects %}

		<div id="projectDisplayModule">

			<div class= "projectDisplayModuleHeader"><a class= "projectDisplayModuleTitle"><b>{{project}}</b></a><a2 class="projectDisplayModuleDescription">{{descriptors[project]}}</a2></div>
			<div class= 
			{% if hideNav %}
				"projectListWireframeContentAlt"
			{% else %}
				"projectListWireframeContent"
			{% endif %}
			>{% for image in mediaPool[project] %}<img src="{{image}}"></img>{% endfor %}</div>

			<div class= "projectDisplayListTweenPadding"></div>

		</div>
		
		{% endfor %}

	</body>

	{% endblock %}

</html>