/*
	Using DFC Convention (Display > Format > Constraint) (my convention)
*/

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased; /* Fix for font weights not working correctly */
}

:root {

	/*
		|| Colors
	*/

	--paletteShadeA: #000000; /* Arrange them dark to light, left to right */ /*Background*/ /* Graphite Gray Color Pallette' https://www.color-hex.com/color-palette/1013236 */
	--paletteShadeB: #000000CC; /*navbar*/
	--paletteShadeC: #3A3A3C; /*wireframes*/
	--paletteShadeD: #FFFFFF; /*text*/
	--paletteShadeE: #EBEBF5; /*texthighlights*/

	--hoverColorA: #FFFF00;

	/*
		|| Navigation Bar 
	*/

	--navigationBarBorderRadius: 25px;
	--navigationBarHeight: 64px;
	--navigationBarWidth: 100%;
	--navigationBarFontSize: 24px;

	/*
		|| Project Modules
	*/

	--h1fontSize: 16px;
	--h2fontSize: 14px;
	--moduleExpansionTransitionTime: 0.4s;

	/*
		|| Project Spec-out
	*/

	--projectSpecOutTitleFontSize: 64px;

	--projectGalleryShowcaseImageBorderRadius: 8px;
	--projectSpecOutContainerTopBottomPad: 32px;
	--projectSpecOutTitleSpacing: 1px;

	--projectSpecAssetOutletDivColor: #000000;

	--projectSpecOutGalleryBorderSize: 12px;
	--assetDownloadFontSize: 24px;

}

/*
	|| Basis
*/

html, body {

	background-image: url("koi.png");
	/*background-size: cover;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
	|| Navigation Bar
*/

div.navigationBar {

	display: table;
	table-layout: fixed; /* For cells of equal size */

	background-color: var(--paletteShadeB);
	opacity: 0.9;

    border-radius: var(--navigationBarBorderRadius);
	height: var(--navigationBarHeight);
    width: var(--navigationBarWidth);
}

div.navigationBar:hover { opacity: 1.0; }

div.navigationBar span {

	display: table-cell;

	line-height: normal;
    text-align: center;
    vertical-align: middle;
  
    font-size: var(--navigationBarFontSize);
    
}

a[href] { color: var(--paletteShadeD); } /* TODO: Consider changing this (intended for navbar) to it's own seperate tag */

/*
	|| Project Display Module(s)
*/

div.projectDisplayModuleHeader {

	display: block;
	
	white-space: pre-line;
	background-color: var(--paletteShadeC);
	text-overflow: ellipsis;
	content: "";
	
	border-radius: 8px 0px 0px 0px;
	width: 98%;
	margin-left: 2%;
	height: 32px;

}

div.projectDisplayModuleGalleryExpanded {

	display: block;

	background-color: var(--paletteShadeB);
	opacity: 0.9;
	content: "";
	white-space: pre-line;
	justify-content: center;
	
	margin-left: 2%;
	width: 96%;
	height: 256px; /*12px to create cool effect, 256 to keep ideal expansion */
	border-radius: 0px 0px 0px 8px;
}

div.projectDisplayModuleGalleryCollapsed { /* Alt is what I'm going to call the wireframe for the media pool on the front page (html with no headers, static compromise) */

	display: block;
	
	background-color: var(--paletteShadeB);
	opacity: 0.9;
	content: "";
	justify-content: center;
	white-space: pre-line;

	margin-left: 2%;
	width: 96%;
	height: 14px; /*12px to create cool effect, 256 to keep ideal expansion */
	border-radius: 0px 0px 0px 8px;
}

div.projectDisplayModuleGalleryEmptyCollapsed { /* Alt is what I'm going to call the wireframe for the media pool on the front page (html with no headers, static compromise) */

	display: block;
	
	background-color: var(--paletteShadeB);
	opacity: 0.9;
	content: "";
	justify-content: center;
	white-space: pre-line;

	margin-left: 2%;
	width: 96%;
	height: 14px; /*12px to create cool effect, 256 to keep ideal expansion */
	border-radius: 0px 0px 0px 8px;
}

div.projectDisplayModuleGalleryExpanded img {
	max-width: 100%;
	max-height: 100%;
}

div.projectDisplayModuleGalleryCollapsed img {
	max-width:100%;
	max-height:100%;
}

div.projectDisplayModuleHeader:hover/*, div.projectListWireframe:active .projectListWireframe*/{
	background-color: var(--paletteShadeB) !important;

}

div.projectDisplayModuleHeader a:hover  { /* Titlebar for project list */
	color: var(--hoverColorA) !important;
}

div.projectDisplayModuleHeader a2:hover  { /* Titlebar for project list */
	color: var(--hoverColorA) !important;
}

div.projectDisplayModuleGalleryExpanded:hover {
	background-color: var(--paletteShadeB) !important;
	opacity: 1.0

	height: 256px;
}

div.projectDisplayModuleGalleryCollapsed:hover {
	background-color: var(--paletteShadeB) !important;
	opacity: 1.0

	height: 256px;
}

#projectDisplayModuleHeader:hover ~ #projectMediaPoolContainer { /* The two siblings within the container will fire eachother, 'projectMediaPoolContainer' is the div holding the images for the modular / list project displays */

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;
}

#projectMediaPoolContainer:hover {
	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;
}

a.projectDisplayModuleTitle {

	color: var(--paletteShadeD);
	
  	line-height: normal;
  	vertical-align: middle;

  	margin-left: 12px;
	font-size: 20px;
	width: 10px;
	max-width: 100%;
}

a2.projectDisplayModuleDescription {

	color: var(--paletteShadeD);

	vertical-align: middle;

	max-width: 100%;
	width: 100px;
	margin-left: 12px;
		
}

/*
	|| Project Spec-out Page
*/

div.projectGalleryShowcaseImage { /* Avoided using flex because want to support as much as I can, keeping in mind 'legacy' users on < IE 10*/
  float: left;
  width: 40%;
}

div.projectWriteup { 
  float: left;
  width: 60%;
}

div.projectWriteup h3 { 

  color: var(--paletteShadeD);
  font-size: var(--projectSpecOutTitleFontSize);

  /*letter-spacing: var(--projectSpecOutTitleSpacing);*/

  font-optical-sizing: auto; 
  font-family: "Montserrat script=latin rev=1"; 
  font-weight: 900; 
 
  font-stretch: normal; 
  line-height: 50%;


}

div.projectWriteup h4 { 
  font-style: normal;
  color: var(--paletteShadeD);
}

div.projectWriteup p { 
  font-style: italic;
  color: var(--paletteShadeD);
}
div.projectGalleryShowcaseImage img { 
  display: block;

  vertical-align: middle;
  border-radius: var(--projectGalleryShowcaseImageBorderRadius);

  margin-left: auto;
  margin-right: auto;
}

div.projectSpecOut { /* Clear floats after the columns [W3C Adaptation]*/ 
	
  background-color: #00000067;

  padding-top: var(--projectSpecOutContainerTopBottomPad);
  padding-bottom: var(--projectSpecOutContainerTopBottomPad);
  /*opacity: 0.5;*/
  
}

div.projectSpecOut:after { /* Clear floats after the columns [W3C Adaptation]*/ 
	
  content: "";
  display: table;
  clear: both;
  
}

div.projectSpecOut img { /* Clear floats after the columns [W3C Adaptation]*/ 

  max-width: 100%;
  max-height: 100%;
}


div.projectSpecGallery {
	display: block;

	background-color: #000000CC;
	opacity: 0.9;
	content: "";
	white-space: pre-line;
	justify-content: center;
	
	margin-left: 2%;
	width: 96%;
	height: 256px; /*12px to create cool effect, 256 to keep ideal expansion */
	border-radius: var(--projectSpecOutGalleryBorderSize);
}

div.projectSpecGallery img {
	max-width: 100%
	max-height: 100%;



}
/*
#projectSpecGallery:hover {
	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;
}
*/

div.projectSpecAssetOutlet {
	display: block;

	background-color: var(--projectSpecAssetOutletDivColor)

	height: 128px;
	width: 100%;

	max-width: 100%
	max-height: 100%;
}

div.projectSpecAssetOutlet button {
	display: block;

	text-align: center;

	background-color: var(--projectSpecAssetOutletDivColor)

	height: 128px;
	width: 100%;

	max-width: 100%
	max-height: 100%;

	margin-right: auto;
	margin-left: auto;

	background-color: #00000067;
}

button.buttonAssetDownload {
	display: block;

	text-align: center;

	background-color: var(--projectSpecAssetOutletDivColor)

	
	font-weight: 900;

	height: 128px;
	width: 100%;

	max-width: 100%
	max-height: 100%;

	margin-right: auto;
	margin-left: auto;

	font-size: var(--assetDownloadFontSize);

	color: var(--paletteShadeD);

	font-optical-sizing: auto; 
	font-family: "Montserrat script=latin rev=1"; 
	font-weight: 900; 

	font-stretch: normal; 
	line-height: initial;
}

button.buttonAssetDownloadNoAssets {
	display: block;

	text-align: center;

	background-color: var(--projectSpecAssetOutletDivColor)
	
	font-weight: 900;

	height: 128px;
	width: 100%;

	max-width: 100%
	max-height: 100%;

	margin-right: auto;
	margin-left: auto;

	font-size: var(--assetDownloadFontSize);

	color: var(--paletteShadeD);

	font-optical-sizing: auto; 
	font-family: "Montserrat script=latin rev=1"; 
	font-weight: 900; 

	font-stretch: normal; 
	line-height: initial;



}

p.projectSpecParagraph {

	font-optical-sizing: auto; 
	font-family: "Montserrat script=latin rev=1"; 
	font-weight: 300; 

	font-stretch: normal; 
	line-height: initial;

}

/*
 	|| Various Padding ||
*/

div.projectDisplayListTweenPadding {

	width: 100%;
	height: 32px;

}

div.divPadA {

	width: 100%;
	height: 50px;
}

div.navigationBarBottomPad {
	width: 100%;
	height: 50px;
}

