* {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Bookman Old Style'; 

  -webkit-font-smoothing: antialiased; /* Fix for font weights not working correctly */
}

:root {
	/*	|| Colors */

	--paletteShadeA: #000000; /* Arrange them dark to light, left to right */ /*Background*/ /* Graphite Gray Color Pallette' https://www.color-hex.com/color-palette/1013236 */
	--paletteShadeB: #000000CC; /*navbar*/
	--paletteShadeC: #3A3A3C; /*wireframes*/
	--paletteShadeD: #FFFFFF; /*text*/
	--paletteShadeE: #EBEBF5; /*texthighlights*/
	/*--hoverColorA: #F7F3E3;*/
	--hoverColorA: #F6F7F8;

	/* || Navigation Bar */

	--navigationBarBorderRadius: 12px;
	--navigationBarHeight: 64px;
	--navigationBarWidth: 100%;
	--navigationBarFontSize: 24px;

	/* || Project Modules */

	--h1fontSize: 16px;
	--h2fontSize: 14px;
	--moduleExpansionTransitionTime: 0.4s;

	/* || Project Spec-out */

	--projectSpecOutTitleFontSize: 48px;
	--projectGalleryShowcaseImageBorderRadius: 1px;
	--projectSpecOutContainerTopBottomPad: 32px;
	--projectSpecOutTitleSpacing: 1px;
	--projectSpecAssetOutletDivColor: #000000;
	--projectSpecOutGalleryBorderSize: 12px;
	--assetDownloadFontSize: 24px;
}

.view {
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

/* || Basis */

html, body {
	z-index: 0;

	-webkit-overflow-scrolling: touch;

	height: 100%;
	max-width: 100%;

	overflow-x: hidden !important;
	/*overflow-y: scroll !important;*/

	overscroll-behavior: contain !important;

	background-image: url("birdfeathers1.png"); /*das background image for the site */
	/*background-size: cover;*/	
}

body {
  position: relative !important;
  margin: 0;
}

/* || Extra Fancy */

/*
.gradientMask {
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat-x;
	background-repeat: repeat;
	animation: gradientMask-animation-alt 1s infinite;
	animation: gradientMask-animation-helper 1s infinite;
	opacity: 1.0;
	visibility: visible;
}

@keyframes gradientMask-animation {
	0% { transform: translate(0,0) }
	10% { transform: translate(-5%,-5%) }
	20% { transform: translate(-10%,5%) }
	30% { transform: translate(5%,-10%) }
	40% { transform: translate(-5%,15%) }
	50% { transform: translate(-10%,5%) }
	60% { transform: translate(15%,0) }
	70% { transform: translate(0,10%) }
	80% { transform: translate(-15%,0) }
	90% { transform: translate(10%,5%) }
	100% { transform: translate(5%,0) }
}

@keyframes gradientMask-animation-alt {
	0% { transform: translate(0,0) }

	99% { transform: translate(0,100%) }

	100% { transform: translate(0,0) }
}

@keyframes gradientMask-animation-helper {
	animation-delay: 1s;

	0% { transform: translate(0,0) }

	99% { transform: translate(0,100%) }

	100% { transform: translate(0,0) }
}

*/

/*
div.gradientMask {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-color: #18181801;


  z-index: -1;

}
*/

/* || Navigation Bar */

div.navigationBar {
	z-index: 2;

	display: table;
	table-layout: fixed; /* For cells of equal size */
    position: relative;
	justify-content: center;

	height: var(--navigationBarHeight);
    width: 80%;
   	max-width: 100%;

	margin-top: 32px;
	margin-left: 0%;
	margin-right: 2%;

	border-top-right-radius: var(--navigationBarBorderRadius);
    border-bottom-right-radius: var(--navigationBarBorderRadius);

	background-color: #181818; 
}

@media screen and (max-width: 780px) {
	div.navigationBar {
		display: flex;
		flex-direction: column;
		height: 160px;
		background-color: #181818CC;

		/*transform: translateX(-90%) !important;*/
		/*
		transform: rotate(-90deg) translate(-100%, 0);
		transform-origin: left top;
		*/
	}
}

div.navigationBar a {
	text-decoration: none;

	font-size: .8em; 

	
	max-width: 100%;
}

@media screen and (max-width: 780px) {
	div.navigationBar a { font-size: .8em; }
}

@media screen and (max-width: 507px) {
	div.navigationBar a { font-size: .7em; }
}

div.navigationBar span {
	display: table-cell;
	line-height: normal;

    text-align: center;
	text-decoration: none;

    vertical-align: middle;

	width: 100%;
	max-width: 100%;
	
    font-size: var(--navigationBarFontSize);
}

@media screen and (max-width: 780px) { /*nav switch modes bp*/ /* stacked nav bar */
	div.navigationBar span {
		width: 98%; /* therefore a 2% margin on our slight outline here. */

		margin-top: 2px;
		margin-bottom: 2px;
		
		/*background-color: #c0392b13;*/
	    border: 1px solid #FFFFFF;
	    border-radius: 8px;
	    
	    background-color: #181818;
	}
}

div.navigationBar a[href]:hover, div.navigationBar a[href]:active { /* Change color on hover */
	color: var(--hoverColorA);
	max-width: 100%;
}

a[href] { 
	max-width: 100%;
	color: var(--paletteShadeD); 
} /* TODO: Consider changing this (intended for navbar) to it's own seperate tag */

b.navLinkHighlight { /* Change color on hover */
	max-width: 100%;
	color: var(--hoverColorA);
}

/* || Project Display Module(s) */

div.projectDisplayModuleHeader {
	z-index: 2;

	display: block;
	position: relative;
    
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;

	content: "";
	
	width: 98%;
	max-width: 98%;
	height: 32px;
	max-height: 32px;

	border-radius: 8px 0px 0px 0px;
	margin-left: 2%;

	/*background-color: var(--paletteShadeC);*/
	background-color: #181818;

	/*background-color: #181818;*/

}

div.projectDisplayModuleGalleryExpanded {
	display: block;

	content: "";
	white-space: nowrap;
	justify-content: center;
	
	width: 96%;
	max-width: 100%;
	height: 256px; /*12px to create cool effect, 256 to keep ideal expansion */

	margin-left: 2%;
	border-radius: 0px 0px 0px 8px;

	background-color: var(--paletteShadeB);
	opacity: 0.9;
		
}

@media screen and (max-width: 780px) {
	div.projectDisplayModuleGalleryExpanded {
		display: block;

		content: "";
		white-space: nowrap;
		justify-content: center;
		
	
		width: 96%;
		max-width: 100%;
		height: 128px; /*12px to create cool effect, 256 to keep ideal expansion, 128 to split */

		margin-left: 2%;
		border-radius: 0px 0px 0px 8px;

		background-color: var(--paletteShadeB);
		opacity: 0.9;

	}
}

div.projectDisplayModuleGalleryExpanded img {
	justify-content: space-around;
	align-items: flex-start;
	object-fit: contain;

	overflow: hidden;

	width: auto;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

/* Clear floats after image containers */
div.projectDisplayModuleGalleryExpanded::after {
	display: table;
	content: "";
	clear: both;

	max-width: 100%;
}

div.projectDisplayModuleGalleryCollapsed { /* Alt is what I'm going to call the wireframe for the media pool on the front page (html with no headers, static compromise) */
	z-index: 2;
	
	display: block;

	background-color: var(--paletteShadeB);
	opacity: 0.9;
	content: "";
	white-space: nowrap;
	justify-content: center;
	margin-left: 2%;
	width: 96%;
	height: 14px; /*12px to create cool effect, 256 to keep ideal expansion */
	border-radius: 0px 0px 0px 8px;

	position: relative;

    max-width: 100%;

}

div.projectDisplayModuleGalleryCollapsed img {
	max-width: 100%;
	max-height: 100%;

	overflow: hidden;
	object-fit: contain;

	height: 100%;
	width: auto;

	justify-content: space-around;
	align-items: flex-start;
}


div.projectDisplayModuleGalleryEmptyCollapsed { /* Alt is what I'm going to call the wireframe for the media pool on the front page (html with no headers, static compromise) */

	z-index: 2;

	display: flex;
	position: relative;

	content: "";
	justify-content: center;
	white-space: pre-line;

	max-width: 100%;
	width: 96%;
	height: 14px; /*12px to create cool effect, 256 to keep ideal expansion */

	background-color: var(--paletteShadeB);
	opacity: 0.9;
	
	margin-left: 2%;

	border-radius: 0px 0px 0px 8px;
}

div.projectDisplayModuleHeader:hover, div.projectDisplayModuleHeader:active /*, div.projectListWireframe:active .projectListWireframe*/{
	background-color: #000000 !important;
}

div.projectDisplayModuleHeader a:hover, div.projectDisplayModuleHeader a:active  { /* Titlebar for project list */
	color: var(--hoverColorA) !important;
}

div.projectDisplayModuleHeader a2:hover, div.projectDisplayModuleHeader a2:active { /* Titlebar for project list */
	color: var(--hoverColorA) !important;
}

div.projectDisplayModuleGalleryExpanded:hover, div.projectDisplayModuleGalleryExpanded:active {
	z-index: 2;

	position: relative;

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;

	height: 256px;
	max-width: 100%;
}

div.projectDisplayModuleGalleryCollapsed:hover, div.projectDisplayModuleGalleryCollapsed:active {
	z-index: 2;

	position: relative;
  
	height: 256px;

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
}


@media screen and (max-width: 780px) {
	div.projectDisplayModuleGalleryCollapsed:hover, div.projectDisplayModuleGalleryCollapsed:active {
		z-index: 2;
		position: relative;
		
		height: 128px !important;

		background-color: var(--paletteShadeB) !important;
		opacity: 1.0;	
	}

	div.projectDisplayModuleGalleryExpanded:hover, div.projectDisplayModuleGalleryExpanded:active {
		z-index: 2;
		position: relative;
		
		height: 128px !important;

		background-color: var(--paletteShadeB) !important;
		opacity: 1.0;	
	}
}

#projectDisplayModuleHeader:hover ~ #projectMediaPoolContainer { /* The two siblings within the container will fire eachother, 'projectMediaPoolContainer' is the div holding the images for the modular / list project displays */
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;	
}

#projectDisplayModuleHeader:active ~ #projectMediaPoolContainer { /* The two siblings within the container will fire eachother, 'projectMediaPoolContainer' is the div holding the images for the modular / list project displays */
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
}

@media screen and (max-width: 780px) {
	#projectDisplayModuleHeader:hover ~ #projectMediaPoolContainer { /* The two siblings within the container will fire eachother, 'projectMediaPoolContainer' is the div holding the images for the modular / list project displays */
		transition-duration: var(--moduleExpansionTransitionTime);

		height: 128px !important;

		background-color: var(--paletteShadeB) !important;
		opacity: 1.0;
	}


	#projectDisplayModuleHeader:active ~ #projectMediaPoolContainer { /* The two siblings within the container will fire eachother, 'projectMediaPoolContainer' is the div holding the images for the modular / list project displays */
		transition-duration: var(--moduleExpansionTransitionTime);

		height: 128px !important;

		background-color: var(--paletteShadeB) !important;
		opacity: 1.0;
	}
}

#projectMediaPoolContainer:hover, #projectMediaPoolContainer:active {
	transition-duration: var(--moduleExpansionTransitionTime);

	height: 256px;

	background-color: var(--paletteShadeB) !important;
	opacity: 1.0;
}

@media screen and (max-width: 607px) {
	a.projectDisplayModuleTitle {
		font-weight: 100;
		font-size: 0.8em !important;
	}
}

a.projectDisplayModuleTitle {
	z-index: 3;

	line-height: normal;
	vertical-align: middle;

	width: 40%;
	min-width: 40%;
	max-width: 100%;

	margin-left: 12px;

	color: var(--paletteShadeD);

	font-size: 1.0em;

	font-weight: 300; /* (drools) */

	text-transform:uppercase;
	
	
}



a.projectDisplayModuleDescription {
	display: inline-block; /* Makes the anchor tag be able to actually overflow the text properly into ellipsis */

	white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;

	vertical-align: middle;
	
	width: 55%;
	max-width: 55%;

	margin-left: 1em;
	margin-right: 8%;

	font-size: .8em;
	
	/*text-transform:capitalize;*/ /*leave to user (me >:3)*/

	color: var(--paletteShadeD); 	

	text-decoration:none; /*hide underline for when we link */
}

/* || Project Spec-out Page */

div.projectGalleryShowcaseImage { /* Avoided using flex because want to support as much as I can, keeping in mind 'legacy' users on < IE 10*/
	display: flex;
	vertical-align: middle;

	justify-content: center;

	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	margin-bottom:24px;

	text-align: center;

	width: 20%;
	height: auto;
	max-height: 100%;

	max-width: 100%;
}

@media screen and (max-width: 808px) {
	div.projectGalleryShowcaseImage { /* Avoided using flex because want to support as much as I can, keeping in mind 'legacy' users on < IE 10 */
	 	width: 100% !important;
	 	height: auto !important;

	 	margin-top: 12px !important; /* hard-coding because sometime's even a margin of 1% gets nuts on mobile */
	 	margin-bottom: 12px !important;
	 	
	 	max-width: 100%;

	 	align-items: center; /* vertically centers flex items */
	}
}

div.projectGalleryShowcaseImage img { 
	/*
	display:block;
	border-radius: var(--projectGalleryShowcaseImageBorderRadius);

	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	*/

	display: flex;
	height: 100%;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	width: 100%;

	vertical-align: middle;

	justify-content: center;

	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	object-fit: contain;
}

@media screen and (max-width: 808px) {
	div.projectGalleryShowcaseImage img { /* Avoided using flex because want to support as much as I can, keeping in mind 'legacy' users on < IE 10*/
	 	width: 100%;
	 	 max-width: 100%;
	 	height: auto !important;

	}
}

div.projectWriteup { 
  float: left;
  width: 60%;
  vertical-align: middle;

  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  max-width: 100%;
}

@media screen and (max-width: 670px) { /*fixup for mobile */
	div.projectWriteup h3 { 
	 
	  
	  justify-content: center !important; 
	  
	  
	}
}

@media screen and (max-width: 507px) { /*fixup for mobile */
	div.projectWriteup h3 { 
	 
	  
	 	font-size: var(--projectSpecOutTitleFontSize)-6 !important; 
	  
	  
	}
}

div.projectWriteup h3 { 

	color: var(--paletteShadeD);
	font-size: var(--projectSpecOutTitleFontSize);

	/*letter-spacing: var(--projectSpecOutTitleSpacing);*/

	/*font-optical-sizing: auto; */
	font-family: "Montserrat script=latin rev=1"; 
	font-weight: 900; 

	font-stretch: normal; 

	line-height: 100%;

	margin-top: 24px;
	margin-bottom: 0px;

	max-width: 100%;

	display: grid; /* make title bound to container */

	justify-content: center;
}




div.projectWriteup h4 { 
	font-style: normal;

	max-width: 100%;

	color: var(--paletteShadeD);
}

@media screen and (max-width: 670px) {
	div.projectWriteup h4 { 
		text-align: center;
	}
}

div.projectWriteup p { 
	max-width: 100%;

	font-style: italic;
	color: var(--paletteShadeD);
}

@media screen and (max-width: 670px) {
	div.projectWriteup p {
	  text-align: center;
	}
}

div.projectSpecOut { /* Clear floats after the columns [W3C Adaptation]*/ 
	display:flex;

	justify-content: space-between;
	vertical-align: middle;

	height: auto;
	width: 96%;
	max-width: 100%;

	padding-top: var(--projectSpecOutContainerTopBottomPad);
	padding-bottom: var(--projectSpecOutContainerTopBottomPad);

	margin-right: 2%;
	margin-left: 2%;

	border-radius: 12px;
	background-color: #000000CC;
	/*opacity: 0.5;*/
}

@media screen and (max-width: 808px) {
	div.projectSpecOut {
		flex-direction: column;
		justify-content: start;
	}
}

div.projectSpecOut:after { /* Clear floats after the columns [W3C Adaptation] to float two divs side-by-side*/ 
	display: table;

	content: "";

	vertical-align: middle;
	justify-content: space-between;

	clear: both;
}

div.projectSpecOut img { /* Clear floats after the columns [W3C Adaptation]*/ 
  max-width: 100%;
  max-height: 100%;

  justify-content: center;
  vertical-align: middle;
}


div.projectSpecGallery {
	display: flex;

	content: "";

	white-space: pre-line;
	justify-content: center;
	
	width: 96%;
	max-width: 100%;
	height: 256px; /*12px to create cool effect, 256 to keep ideal expansion */

	margin-left: 2%;
	border-radius: var(--projectSpecOutGalleryBorderSize);

	background-color: #181818;
}

@media screen and (max-width: 808px) {
	div.projectSpecGallery {
		flex-direction: column;
		width: 100% !important;
		height: 100% !important;
	}
}

div.projectSpecGallery img {
	display: flex;

	box-sizing: border-box;
	overflow: hidden;
	object-fit: contain;

	vertical-align: middle;
	justify-content: center;

	width: 100%;
	max-width: 100%;

	height: 100%;
	max-height: 100%;	
}

div.projectSpecGallery img:hover, div.projectSpecGallery img:active {
	transform: scale(1.1);
}

div.projectSpecAssetOutlet {
	z-index: 98;

	display: block;

	/*background-color: var(--projectSpecAssetOutletDivColor);*/

	height: 64px;
	max-height: 100%;

	width: 100%;
	max-width: 100%;
}

div.projectSpecAssetOutlet button {
	z-index: 99;

	display: block;

	text-align: center;

	height: 64px;
	width: 100%;

	max-width: 100%;
	max-height: 100%;

	margin-right: auto;
	margin-left: auto;

	background-color: #181818;
}

button.buttonAssetDownload {
	z-index: 99;

	display: block;

	text-align: center;

	background-color: var(--projectSpecAssetOutletDivColor);

	height: 64px;
	max-height: 100%;

	width: 100%;
	max-width: 100%;
	
	margin-right: auto;
	margin-left: auto;

	/*font-optical-sizing: auto; */
	font-family: "Montserrat script=latin rev=1"; 
	font-size: var(--assetDownloadFontSize);
	font-weight: 900; 
	font-stretch: normal; 
	line-height: initial;

	border-radius: 12px;

	color: var(--paletteShadeD);
}

button.buttonAssetDownloadNoAssets {
	z-index: 99;

	display: block;

	text-align: center;

	width: 100%;
	max-width: 100%;

	height: 64px;
	max-height: 100%;

	margin-right: auto;
	margin-left: auto;

	/*font-optical-sizing: auto; */
	font-family: "Montserrat script=latin rev=1"; 
	font-size: var(--assetDownloadFontSize);
	font-weight: 900; 
	font-stretch: normal; 
	line-height: initial;
	border-radius: 12px;

	color: var(--paletteShadeD);
	background-color: var(--projectSpecAssetOutletDivColor);

}

button.buttonAssetDownloadNoAssets:hover, button.buttonAssetDownloadNoAsset:active {
	color: #FF0000;

}

p.projectSpecParagraph {
	/*font-optical-sizing: auto; */
	font-family: "Montserrat script=latin rev=1"; 
	font-weight: 300; 
	font-stretch: normal; 
	line-height: initial;

	max-width: 100%;
}

/* || Various Padding || */

div.projectDisplayListTweenPadding {
	width: 100%;
	max-width: 100%;

	height: 32px;
}

div.divPadA {
	width: 100%;
	max-width: 100%;

	height: 50px;
}

div.navigationBarBottomPad {
	width: 100%;
	max-width: 100%;

	height: 50px;
}

/* || ABOUT PAGE for website || */

div.aboutMeContainer { 
	z-index: 2;

	position: relative;

	display: flex;
	
	padding-top: var(--projectSpecOutContainerTopBottomPad);
	padding-bottom: var(--projectSpecOutContainerTopBottomPad);

	/*opacity: 0.5;*/

	margin-right: 2%;
	margin-left: 2%;

	width: 96%;
	max-width: 100%;

	border-radius: 12px;
  
	/*background-color: #00000067;*/
	background-color: #000000CC;
}

@media screen and (max-width: 921px) {
	div.aboutMeContainer { 
		flex-direction: column !important;

		height: 400px;
	 }
}

@media screen and (max-width: 466px) {
	div.aboutMeContainer {
		height: 450px;
	}
}

@media screen and (max-width: 357px) {
	div.aboutMeContainer {
		height: 490px;
	}
}

@media screen and (max-width: 313px) { /* Put your hands up and follow me!  */
	div.aboutMeContainer {
		word-wrap: break-word !important; /* Please don't have this tiny of a screen lol */
		
		/* TODO >> ADD IN SUPPORT FOR THESE TINY SCREENS */

		overflow: hidden;
		height: 520px;
	}
}


div.aboutMeContainer:hover, div.aboutMeContainer:active { 
  /*background-color: #181818;*/
  background-color: #000000CD;
}

div.aboutMeContainer:after { /* Clear floats after the columns [W3C Adaptation] to float two divs side-by-side*/ 
	content: "";

	display: table;

	clear: both;

	max-width: 100%;
}

div.aboutMeContainer img { 

	display: block;

	width: 158.375px;
	max-width: 100%;

	height: 196.125px;
	max-height: 100%;
	
	margin-left: auto;
	margin-right: auto;

	border-radius: 0%;	/* Creates a square image, approach 100 to round / oval */
}


div.aboutMeImage {
	float: left;

	width: 20%;
	max-width: 100%;
}


@media screen and (max-width: 921px) {
	div.aboutMeImage{ 
		float: center !important;

		width: 100% !important;
	 }
}


div.aboutMeBlurbs {
	float: left;

	width: 80%;
	max-width: 100%;
}

@media screen and (max-width: 921px) {
	div.aboutMeBlurbs{ 
		display: flex !important;
		flex-direction: column !important;

		float: center !important;
		justify-content: center !important;
		text-align: center;
		
		width: 100% !important;

		margin-left: auto !important;
		margin-right: auto !important;
	 }
}

div.aboutMeBlurbs h1 {
	max-width: 100%;

	color: var(--paletteShadeD);

	font-size:2em;
}

div.aboutMeBlurbs p {
	max-width: 100%;

	padding-right: 30px;

	color: var(--paletteShadeD);
}

@media screen and (max-width: 921px) {
	div.aboutMeBlurbs{ 
		padding-right: 2% !important;
		padding-left: 2% !important
	}
}
div.tagCloudContent {
	width: 100% !important;
	max-width: 100%;
	
	vertical-align: middle;

	margin-left: auto;
	margin-right: auto;
	/*margin-right: 50vw !important;*/
	margin-top: auto;
	margin-bottom: auto;

	color: white;
}

/* >> TAGCLOUD JS STYLING << */

@media screen and (max-width: 920px) {
	div.tagCloudContent {
		width: 100%;
		justify-content: center;
	}
}

.tagcloud {
	display: flex;
	position: relative;

	vertical-align: middle;

	height: 90% !important;

	width: 400px !important;
	max-width: 100%;

	/*font-optical-sizing: auto; */
	font-family: "Montserrat script=latin rev=1"; 
	font-size: 20px;
	font-weight: 900; 

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	color: white;
  }

@media only screen and (max-width: 1330px) {

	.tagcloud {
		display: flex;
		position: relative;

		vertical-align: middle !important;

		height: 250px !important;

		width: 250px !important;

		font-family: "Montserrat script=latin rev=1"; 
		font-weight: 900; 
		font-size: 16px !important;

		margin-left: auto !important;
		margin-right: auto !important;

		color: white;
	}
} 

.tagcloud--item { /* color of each tagCloud tag */
	color: white;
}

@media screen and (max-width: 446px) {
	.tagcloud--item {
		padding: -32px -32px -32px -32px !important;
	}
}

.tagcloud--item:hover, .tagcloud--item:active {
	color: #36454F;
}

div.tagCloudContainer {
	display: flex;

	float: left;

	vertical-align: center;

	width: 40%;
	max-width: 100%;

	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
	margin-bottom: 2%;	
}

@media screen and (max-width: 921px) {
	div.tagCloudContainer {
	  	margin-bottom: 50px !important;
	  	margin-top:100px !important;
  }
}

@media screen and (max-width: 654px) {
	div.tagCloudContainer {
		width: 100% !important;

	  	margin-bottom: 50px !important;
	  	margin-top:100px !important;
	  	margin-left: auto;
	  	margin-right: auto;
  }
}

/* Flip Cards for the About Page */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

div.flip-box-container {
	display: flex;
	
	float: left;

	justify-content: center;

	width: 60%;
	max-width: 100%;
}

@media screen and (max-width: 1200px) {
	div.flip-box-container {
		display: flex;

		float: left;

		width: 50%;
	}
}

@media screen and (max-width: 921px) {
	div.flip-box-container {
		display: flex;

		float: left;

		width: 100%;
	}
}

@media screen and (max-width: 441px) { /* Swapping to mobile */
	div.flip-box-container {
		flex-direction: column !important;
	}
}

div.container:after { /* Clear floats after the columns [W3C Adaptation] to float two divs side-by-side*/ 
  content: "";

  display: table;

  clear: both;
}

div.flip-box {
	background-color: transparent;

	height: 100%;

	width: 100% !important;
	max-width: 100%;

	/*border: 1px solid #f1f1f1;*/
	perspective: 1000px; /* Change this to remove/alter 3D effect */

	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 441px) {
	div.flip-box {
		margin-top: 150px !important;

		padding-right: 0;
		padding-left: 0;
		/*border: 1px solid #f1f1f1;*/
	}
}

/* This container is needed to position the front and back side */
div.flip-box-inner {
	position: relative;

	transform-style: preserve-3d;
	transition: transform 0.8s;

	width: 100%;
	max-width: 100%;

	height: 100%;

	text-align: center;

	font-size: 12px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
div.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
	/*border: 1px solid #f1f1f1;*/
}

div.flip-box:active .flip-box-inner {
	transform: rotateY(180deg);
	/*border: 1px solid #f1f1f1;*/
}

/* Flip box bordering >>>>
@media screen and (max-width: 441px) {
	div.flip-box:hover .flip-box-inner {
		border: 1px solid #f1f1f1;
		}

	div.flip-box:active .flip-box-inner {


	border: 1px solid #f1f1f1;
	}
}
*/

/* Position the front and back side */
div.flip-box-front, div.flip-box-back {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;

	position: absolute;

	width: 100%;

	height: 100%;
}

@media screen and (max-width: 921px) {
	div.flip-box-front, div.flip-box-back {
		height: 300px !important;

		margin-top: 100px;
	}
}

@media screen and (max-width: 441px) {
	div.flip-box-front{
		perspective: 500px !important;

		height: 150px !important;
		width: 100%;
	
		margin-bottom: -300px !important;
		margin-top: -100px;
		margin-right: 50px !important;
	}

	div.flip-box-back {
		perspective: 500px !important;

		height: 150px !important;
		width: 100%;

		margin-bottom: -300px !important;
		margin-top: -100px;
		margin-left: 0;
	}
}

/* Style the front side */
div.flip-box-front {
	display: table; /*enables vertical align properties to be viewed */

	max-width: 100%;

	background-color: #181818;
	color: white;
}

div.flip-box-front h2 {
	display: table-cell;

	vertical-align: middle;

	height: 100%;
	max-width: 100%;
	width: 100%;

	text-align: center;

	

	margin-left: 0;
	margin-right: 0;
}

/* Style the back side */
div.flip-box-back {
	pointer-events: none; /* allow click-through to elements below */

	display: table;

	transform: rotateY(180deg);

	max-width: 100%;

	font-size: 12px;
	line-height: 200%;
	
	background-color: #181818;
	color: white;
	
}

@media screen and (max-width: 441px) {
	div.flip-box-back {
		margin-right: -300px !important;
	}	
}

div.flip-box-back h2 {
	display: table-cell;

	vertical-align: middle;
	text-align: center;

	height: 100%;

	width: 80%;
	max-width: 100%;

	/*margin-top: 45%;*/

	padding-left: 5%;
	padding-right: 5%;
}

@media screen and (max-width: 1200px) {
	div.flip-box-back h2 {
		font-size: 12px !important;
	}

}

/* Skills and Links */

div.skillsAndLinksContainer { 
	
	z-index: 2;
	
	display: flex;

	/*opacity: 0.5;*/

	position: relative;

	height: 400px;
	
	width: 96%;
	max-width: 100%;


	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;

	padding-top: var(--projectSpecOutContainerTopBottomPad);
	padding-bottom: var(--projectSpecOutContainerTopBottomPad);

	border-radius: 12px;

	background-color: #000000CC;
}

@media screen and (max-width: 921px) {
	div.skillsAndLinksContainer{ 
		flex-direction: column;

		height: 800px;
	 }
}

@media screen and (max-width: 441px) {
	div.skillsAndLinksContainer{ 
		flex-direction: column;
		
		height: 950px;
	 }
}

div.skillsAndLinksContainer:hover { 
	/*background-color: #181818CC;*/
	background-color: #000000CD;
}

div.skillsAndLinksContainer:active { 
	/*background-color: #181818CC;*/
	background-color: #000000CD;
}

div.skillsAndLinksContainer:after { /* Clear floats after the columns [W3C Adaptation] to float two divs side-by-side*/ 
	content: "";

	display: table;

	clear: both;

	max-width: 100%;
}

/* || PRELOADER ANIMATIONS */

.loader-wrapper {
	z-index: 999;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	overflow: hidden;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	width: 100vw;
	max-width: 100%;

	height: 100vh;

	background-color: #181818;
}

.loader {
	z-index: 1000;

	height: auto;

	width: 6.25%;
	max-width: 100%;

	height: 6.25%;
	max-height: 100%;
}

/* || CONTACT ME PAGE */

div.contactContainer {
	display: flex;
	flex-direction: column;

	height: auto;

	width: 98%;
	max-width: 100%;

	margin-right: 2%;
	margin-left: 2%;

	border-radius: 36px 0px 0px 36px;

	background-color: #181818CC;
}

.contact-flip-box {
	height: 120px;

	width: 95%;
	max-width: 100%;

	/*border: 1px solid #f1f1f1;*/

	background-color: transparent;
}

.contact-flip-box-inner {
	position: relative;

	transform-style: preserve-3d;
	transition: transform 0.8s;

	height: 100%;

	width: 100%;
	max-width: 100%;

	text-align: center;
}

.contact-flip-box:hover .contact-flip-box-inner {
  	transform: rotateX(180deg);
}

.contact-flip-box:active .contact-flip-box-inner {
	transform: rotateX(180deg);
}

.contact-flip-box-front, .contact-flip-box-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;

	height: 100%;

	width: 100%;
	max-width: 100%;

	border-radius: 36px 0px 0px 36px;
}

.contact-flip-box-front {
	background-color: #181818DD;
	color: black;

	max-width: 100%;
}

.contact-flip-box-front h2 {
	display: inline-block;
	
	vertical-align: middle;

	max-width: 100%;

	
	font-size: .89em;

	color: white;
}

.contact-flip-box-back {
	vertical-align: middle;
	transform: rotateX(180deg);

	max-width: 100%;

	text-align: center;

	background-color: dodgerblue;
	color: white;
}
.contact-flip-box-back h2 {
	display: inline-block;

	vertical-align: middle;

	max-width: 100%;

	font-size: .8em;
	line-height: 7.2em; /* Trick to manually center the h2 tag.. man idk why it was so hard smh */
}